:root {
    --primary-color: #16093F;
    ;
    --secondary-color: #6f818f;
    --accent1-color: #fffaff;
    --accent2-color: #1e2d7d;
    --accent3-color: #f0297c;
    --background-color: #f3f5f6;

    --text-color1: #1e2d7d;
    --text-color2: #ffffff;

    --shadow-color: #0000004D;
    --white-translucent: #FFFFFFD9;

    --heading-font: "Verdana", "Geneva", sans-serif;
    --body-font: "Roboto", Arial, sans-serif;
    --text-font: "Playfair Display",
        serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    line-height: 1.5;
    font-family: var(--body-font);
}


header {
    background-color: var(--primary-color);
    color: var(--text-color2);
    text-align: center;
    padding: 20px 0 0 0;
}

header span {
    color: var(--text-color2);
    font-family: var(--heading-font);
    font-size: 1.2rem;
    font-style: italic;
}

nav {
    padding: 14px 20px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center;
    background-color: var(--accent2-color);
    padding: 15px;
}

.menu li a {
    text-decoration: none;
    color: var(--text-color2);
    padding: 8px 16px;
    font-size: 1rem;
    font-family: var(--heading-font);
    transition: background-color 0.4s ease, transform 0.4s ease;
    display: block;
}

.menu li a:hover {
    background-color: var(--accent3-color);
    transform: scale(1.1);
}

.name {
    padding: 10px;
    font-size: 1.5rem;
    color: var(--text-color1);
    grid-column: 1/-1;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 10px 0 0;
}

.card {
    background-color: var(--accent1-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px var(--shadow-color);
}

.card h2 {
    background-color: var(--primary-color);
    color: var(--text-color2);
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.card p {
    line-height: 1.6;
}

.text-profile {
    display: flex;
    border-radius: 8px;
    background-color: var(--accent1-color);
    padding: 1.5rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.text-profile img {
    width: 150px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(1, 0, 0, 0.621);
}

.vzla-container {
    display: flex;
}

.vzla-container img {
    width: 180px;
    height: auto;
    margin: 40px 40px 5px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(1, 0, 0, 0.621);

}

footer {
    background-color: var(--primary-color);
    color: var(--text-color2);
    padding: 20px;
    text-align: center;
}