:root {
    --primary-color: #16093F;
    ;
    --accent1-color: #fffaff;
    --accent2-color: #1e2d7d;
    --accent3-color: #f0297c;
    --background-color: #f3f5f6;

    --text-color1: #1e2d7d;
    --text-color2: #ffffff;
    --text-color3: #555555;

    --shadow-color: #00000065;
    --white-translucent: #FFFFFFD9;

    --heading-font: "Verdana", "Geneva", sans-serif;
    --body-font: "Roboto", Arial, sans-serif;
    --text-font: "Playfair Display", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    line-height: 1.5;
    font-family: var(--body-font);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color2);
    text-align: left;
    padding: 20px 0 0 0;
    display: block;

}

header span {
    color: var(--text-color2);
    font-family: var(--heading-font);
    font-size: 1.2rem;
    padding-left: 20px;
    font-style: italic;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav {
    display: flex;
    padding: 10px 20px;
    width: 100%;
}


/* small view navigation */
#hamburgerBtn {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: block;
    color: var(--accent1-color);
}

#hamburgerBtn::before {
    content: "☰";
}

#hamburgerBtn.open::before {
    content: "❌";
}

.navigation {
    display: none;
    list-style: none;
    gap: 0.5rem;
    text-align: center;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
}

.navigation li a {
    text-decoration: none;
    color: var(--text-color2);
    padding: 5px 16px;
    font-size: 1rem;
    font-family: var(--heading-font);
    transition: background-color 0.4s ease, transform 0.4s ease;
    display: block;

}

.navigation li a:hover {
    background-color: var(--accent3-color);
    transform: scale(1.1);
    border-radius: 8px;
}


.navigation.open {
    display: flex;
}

/*GALLERY*/
main {
    gap: 40px;
    max-width: 700px;
    padding: 10px 80px;
    margin: 0 auto;
}

.title-gallery h1 {
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text-color1);
    grid-column: 1/-1;
    text-align: center;
    letter-spacing: 0.5px;
    margin: 0;
}

.gallery-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 10px 0 0;

}

.gallery-content section {
    border-radius: 10px;
    background-color: var(--accent1-color);
    overflow: hidden;
    box-shadow: 2px 2px 10px var(--shadow-color);
    transition: transform 0.4s ease;
}


.gallery-content section:hover {
    transform: scale(1.02);
}

.gallery-content section img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
}

.gallery-content section h3 {
    text-align: center;
    padding: 12px;
    font-size: 1.2rem;
    margin: 0;
    background-color: var(--accent2-color);
    color: var(--text-color2);
}

.gallery-content section p {
    padding: 8px 16px;
    margin: 0;
    font-size: 0.9rem;
    color: var(--text-color3);
    border-bottom: 1px solid var(--accent2-color);
}

.gallery-content section p:last-of-type {
    border-bottom: none;
    padding-bottom: 16px;
}

.gallery-content section .label {
    color: var(--accent3-color);
    font-weight: bold;
    display: inline-block;
    margin-right: 4px;
}


footer {
    background-color: var(--primary-color);
    color: var(--text-color2);
    padding: 20px;
    text-align: center;
}

/* DESKTOP*/

@media (min-width: 768px) {
    header {
        text-align: center;
        padding: 10px 0;
    }

    .header-content {
        justify-content: center;
        margin-bottom: 15px;
    }

    #Page-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    nav {
        justify-content: right;
    }


    #hamburgerBtn {
        display: none;
    }


    .navigation {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .gallery-content {
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 20px;
    }

    main {
        gap: 40px;
        max-width: 1100px;
        padding: 20px 10px 35px;
        margin: 0 auto;
    }


}